#div{
	color: aliceblue;
	/* background-color: #521; */
	margin: 0% 5%;
}
#div1{
	margin: 5px 5%;
	width:40%;
	color: #000;
	/* background-color: #096; */
	float: left;
}
#p1{
	text-align: center;
}
body{
	background-size:100%;
	
}